In [1]:
#importing relevant modules 
#important note. This code may require multiple API keys to run because of the limits on Domain APIs
# modules needed for the API Key
import json
import requests 

#modules needed for web-scraping
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager 
import time

#modules used in both
import pandas as pd
from config import Api_key
from config import Api_key2
from config import Api_key3
from config import Api_key4

In [2]:
#open the Chrome Driver web browser in order to do web-scraping 
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#Web Scraping 1- need to interact with a tbale on Wikipedia 
#add in the local coucil area data in order to aggregate 
#webscraping in order to figure out the list of Local Government LGAs (from Wikipedia)

lgas_melbourne_url ="https://en.wikipedia.org/wiki/Local_government_areas_of_Victoria"
tables = pd.read_html(lgas_melbourne_url )
tables



lga_df=tables[0]
lga_df=lga_df["Local government area"]
lga_df

#This web-scraped table gave the Names of all Local Councils within Melbourne

            Local government area
0               City of Melbourne
1            City of Port Phillip
2             City of Stonnington
3                   City of Yarra
4                 City of Banyule
5                 City of Bayside
6              City of Boroondara
7                 City of Darebin
8               City of Glen Eira
9             City of Hobsons Bay
10               City of Kingston
11             City of Manningham
12            City of Maribyrnong
13                 City of Monash
14          City of Moonee Valley
15               City of Moreland
16             City of Whitehorse
17               City of Brimbank
18              Shire of Cardinia
19                  City of Casey
20              City of Frankston
21      City of Greater Dandenong
22                   City of Hume
23                   City of Knox
24              City of Maroondah
25                 City of Melton
26  Shire of Mornington Peninsula
27             Shire of Nillumbik
28             City of Whittlesea
29                City of Wyndham
30          Shire of Yarra Ranges

Transforming 1- need to transform this data in order to interact it with the COuncil website (another web-scraping website)
#Need to change the City of/ Shire of prefix to a City/Shire suffix

In [4]:
#Transforming the City of
city_of=lga_df[lga_df['Local government area'].str.contains("City")]

#now delete the "City of part"
city_of['Local government area'] = city_of['Local government area'].str[8:]
city_of['Local government area'] = city_of['Local government area'].astype(str) + ' City' 

city_of

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Local government area
0           Melbourne City
1        Port Phillip City
2         Stonnington City
3               Yarra City
4             Banyule City
5             Bayside City
6          Boroondara City
7             Darebin City
8           Glen Eira City
9         Hobsons Bay City
10           Kingston City
11         Manningham City
12        Maribyrnong City
13             Monash City
14      Moonee Valley City
15           Moreland City
16         Whitehorse City
17           Brimbank City
19              Casey City
20          Frankston City
21  Greater Dandenong City
22               Hume City
23               Knox City
24          Maroondah City
25             Melton City
28         Whittlesea City
29            Wyndham City

In [5]:
#changing the prefix of Shire of to a Shire suffix for all Shires
shire_of=lga_df[lga_df['Local government area'].str.contains("Shire")]
shire_of['Local government area'] = shire_of['Local government area'].str[9:]
shire_of['Local government area'] = shire_of['Local government area'].astype(str) + ' Shire' 

shire_of

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         Local government area
18              Cardinia Shire
26  Mornington Peninsula Shire
27             Nillumbik Shire
30          Yarra Ranges Shire

In [6]:
#now put the datasets together 
frames=[city_of, shire_of]
lga_final_list = pd.concat(frames)
lga_final_list=lga_final_list.sort_index()
lga_final_list
lga_values=lga_final_list['Local government area'].tolist()

In [7]:
lga_final_list.nunique()

Local government area    31
dtype: int64

In [8]:
lga_final_list.count()

Local government area    31
dtype: int64

In [9]:
#attempting to do the loop in order to get the suburbs:
#webscraping the website
suburb_sample=[]
for suburb in lga_values:
    local_council_url ="https://knowyourcouncil.vic.gov.au/councils"
# Retrieve page with the requests module
    browser.visit(local_council_url)
#Clicking on each individual council website to get the suburbs
    browser.click_link_by_partial_text(suburb)
    local_council_html=browser.html 
#Finding a list of the suburbs using beautiful soup
    local_council_soup=bs(local_council_html, 'html.parser')
    local_council = local_council_soup.find('div', class_='col-xs-12 col-sm-6 localities')
#finding paragraph of the suburb list
    suburb_text=local_council.find("p").text

#editing some of the paragraphs in order to remove ands and foolstops and other formatting issues 
    
    #making spaces in the suburb text easier to deal with (if this transformation was not applied, the and within suburb names gets converted)
    suburb_text=suburb_text.replace(" ", "_")
    #replacing and at the end of the paragraph 
    suburb_text=suburb_text.replace("_and", ",")
    #removing the underscores back to space
    suburb_text=suburb_text.replace("_", " ")
    #removing the fullstop at the end of the paragraph
    suburb_text=suburb_text.replace(".", "")
    #some text randomly had these characters to this had to be removed as well
    suburb_text = suburb_text.replace('\xa0','')
    suburb_text

    #converting the text paragraph to a list
    my_list = suburb_text.split(", ")

#Making a dictionary with the key as suburbs name as values as the list of suburbs
    greater_melbourne={
        suburb:my_list
    }

#appending this dictionary to a list 
    
    suburb_sample.append(greater_melbourne)

#time sleeping to not overload the browser
    time.sleep(2)
    
browser.quit()

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [10]:
#converting the list of dictionaries to a dataframe 
suburbs_df=pd.DataFrame(suburb_sample).melt()
suburbs_df.dropna()

,variable,value
0,Melbourne City,"[Carlton, Carlton North, Docklands, East Melbo..."
32,Port Phillip City,"[Albert Park, Balaclava, Elwood, Garden City, ..."
64,Stonnington City,"[Armadale, Glen Iris, Hawksburn, Kooyong, Malv..."
96,Yarra City,"[Abbotsford, Alphington, Burnley, Carlton Nort..."
128,Banyule City,"[Bellfield, Briar Hill, Bundoora, Eaglemont, E..."
160,Bayside City,"[Beaumaris, Black Rock, Brighton, Brighton Eas..."
192,Boroondara City,"[Ashburton, Balwyn, Balwyn North, Burwood, Cam..."
224,Darebin City,"[Alphington, Bundoora, Coburg, Coburg North, F..."
256,Glen Eira City,"[Bentleigh, Bentleigh East, Brighton East, Car..."
288,Hobsons Bay City,"[Altona, Altona Meadows, Altona North, Brookly..."
320,Kingston City,"[Aspendale, Aspendale Gardens, Bonbeach, Braes..."
352,Manningham City,"[Bulleen, Doncaster, Doncaster East, Donvale, ..."
384,Maribyrnong City,"[Braybrook, Footscray, Kingsville, Maidstone, ..."
416,Monash City,"[Ashwood, Burwood, Chadstone, Clayton, Glen Wa..."
448,Moonee Valley City,"[Aberfeldie, Airport West, Ascot Vale, Avondal..."
480,Moreland City,"[Batman, Brunswick, Brunswick East, Brunswick ..."
512,Whitehorse City,"[Blackburn, Blackburn North, Blackburn South, ..."
544,Brimbank City,"[Albanvale, Albion, Ardeer, Brooklyn (part), C..."
576,Cardinia Shire,"[Avonsleigh, Bayles, Beaconsfield, Beaconsfiel..."
608,Casey City,"[Beaconsfield, Berwick, Blind Bight, Cannons C..."
640,Frankston City,"[Carrum Downs, Frankston, Frankston North, Fra..."
672,Greater Dandenong City,"[Bangholme, Dandenong, Dandenong North, Danden..."
704,Hume City,"[Attwood, Broadmeadows, Bulla, Campbellfield, ..."
736,Knox City,"[Bayswater, Boronia, Ferntree Gully, Knoxfield..."
768,Maroondah City,"[Bayswater North, Croydon, Croydon Hills, Croy..."
800,Melton City,"[Brookfield, Burnside, Burnside Heights, Carol..."
832,Mornington Peninsula Shire,"[Arthurs Seat, Balnarring, Balnarring Beach, B..."
864,Nillumbik Shire,"[Arthurs Creek, Bend of Islands, Briar Hill, C..."
896,Whittlesea City,"[Beveridge, Bruces Creek, Bundoora, Donnybrook..."
928,Wyndham City,"[Cocoroc, Eynesbury, Hoppers Crossing, Laverto..."
960,Yarra Ranges Shire,"[Badger Creek, Beenak, Belgrave, Belgrave Heig..."

In [11]:
#Converting the first data srouce list 
suburbs_df=suburbs_df.explode('value')
#cleaning by dropping the null values. It was noticed that the explode feature created a lot of extra rows so feel fins about dropping them 
suburbs_df=suburbs_df.dropna()
suburbs_df

               variable           value
0        Melbourne City         Carlton
0        Melbourne City   Carlton North
0        Melbourne City       Docklands
0        Melbourne City  East Melbourne
0        Melbourne City      Flemington
..                  ...             ...
960  Yarra Ranges Shire   Woori Yallock
960  Yarra Ranges Shire      Yarra Glen
960  Yarra Ranges Shire  Yarra Junction
960  Yarra Ranges Shire       Yellingbo
960  Yarra Ranges Shire          Yering

[615 rows x 2 columns]

In [12]:
#getting rid of space before the suburb name by converting suburb name to list
suburb_greater_list=suburbs_df['value'].to_list()

In [13]:
#code for removing spaces through iterating through list

suburb_space_removed=[]
for i in suburb_greater_list:
    i=i.lstrip()
    suburb_space_removed.append(i)

In [14]:
suburbs_df["Suburb Name"]=suburb_space_removed
#renaming columns
suburbs_df.rename(columns={'variable':'Local Government Area'}, inplace=True)
#resetting index
suburbs_df=suburbs_df.reset_index()
#renaming columns
suburbs_df=suburbs_df[["Local Government Area", "Suburb Name"]]

In [15]:
suburbs_df.nunique()

Local Government Area     31
Suburb Name              557
dtype: int64

In [16]:
suburbs_df.count()

Local Government Area    615
Suburb Name              615
dtype: int64

In [17]:
#inspecting ALL duplicate rows 
duplicateRowsDF = suburbs_df[suburbs_df.duplicated(['Suburb Name'], keep=False)]

In [18]:
#sorting duplicates by alphabetical order to further understand the nature of the duplicates
sort_duplicates=duplicateRowsDF.sort_values(by=['Suburb Name'])
sort_duplicates.head(30)

    Local Government Area    Suburb Name
98           Darebin City     Alphington
39             Yarra City     Alphington
321            Casey City   Beaconsfield
275        Cardinia Shire   Beaconsfield
487       Nillumbik Shire     Briar Hill
51           Banyule City     Briar Hill
74           Bayside City  Brighton East
113        Glen Eira City  Brighton East
99           Darebin City       Bundoora
52           Banyule City       Bundoora
514       Whittlesea City       Bundoora
185           Monash City        Burwood
86        Boroondara City        Burwood
238       Whitehorse City        Burwood
41             Yarra City  Carlton North
1          Melbourne City  Carlton North
75           Bayside City     Cheltenham
148         Kingston City     Cheltenham
556    Yarra Ranges Shire       Clematis
282        Cardinia Shire       Clematis
100          Darebin City         Coburg
218         Moreland City         Coburg
219         Moreland City   Coburg North
101          Darebin City   Coburg North
378             Hume City   Diggers Rest
428           Melton City   Diggers Rest
491       Nillumbik Shire         Doreen
516       Whittlesea City         Doreen
492       Nillumbik Shire         Eltham
54           Banyule City         Eltham

In [19]:
#Dropping duplicates except the first one from the dataframe
suburbs_df=suburbs_df.drop_duplicates(subset=['Suburb Name'], keep='first')
suburbs_df.count()

Local Government Area    557
Suburb Name              557
dtype: int64

In [20]:
suburbs_df.nunique()

Local Government Area     31
Suburb Name              557
dtype: int64

In [21]:
#Interacting the web-scraped data-frame with the Domain API
#creating a new column for the Suburbs ID. This ID means it can interact with other Domain APIs
#Postcode of suburs also collected from this API 
suburbs_df['ID'] = ""
suburbs_df['Postcode']=""

In [22]:
for index, row in suburbs_df.iterrows():
    
    suburb=row["Suburb Name"]
    
    try:
        url = ("https://api.domain.com.au/v1/addressLocators?searchLevel=Suburb&suburb={0}&state=VIC").format(suburb)
        auth = {"X-Api-key":Api_key4}
        request = requests.get(url,headers=auth)
        r=request.json()
    
        suburbs_df.loc[index, 'ID'] = r[0]['ids'][0]['id']
        suburbs_df.loc[index, "Postcode"]=r[0]["addressComponents"][1]['shortName']
    
    #in the case of a JSONDecode Error, this ensures the code will keep running
    except (KeyError, IndexError, ValueError):
        suburbs_df.loc[index, 'ID'] = "No ID"

In [23]:
suburbs_df

    Local Government Area     Suburb Name     ID Postcode
0          Melbourne City         Carlton   8217     3053
1          Melbourne City   Carlton North   8247     3054
2          Melbourne City       Docklands  12117     3008
3          Melbourne City  East Melbourne  13127     3002
4          Melbourne City      Flemington  14617     3031
..                    ...             ...    ...      ...
610    Yarra Ranges Shire   Woori Yallock  44987     3139
611    Yarra Ranges Shire      Yarra Glen  45657     3775
612    Yarra Ranges Shire  Yarra Junction  45677     3797
613    Yarra Ranges Shire       Yellingbo  45947     3139
614    Yarra Ranges Shire          Yering  45997     3770

[557 rows x 4 columns]

In [24]:

#counting number of suburbs with No ID
suburbs_df.loc[suburbs_df['ID'] == "No ID"].count()

Local Government Area    29
Suburb Name              29
ID                       29
Postcode                 29
dtype: int64

In [25]:
#After some research on the No ID suburbs, did some checking and all of these suburbs are included in other suburbs within Domain

suburbs_df.loc[suburbs_df['ID'] == "No ID"]

          Local Government Area          Suburb Name     ID Postcode
5                Melbourne City          Hotham Hill  No ID
17            Port Phillip City          Garden City  No ID
30             Stonnington City            Hawksburn  No ID
76                 Bayside City               Cromer  No ID
77                 Bayside City                Dendy  No ID
89              Boroondara City  Deepdeene,Glen Iris  No ID
90              Boroondara City     Glenferrie South  No ID
91              Boroondara City            Greythorn  No ID
103                Darebin City            Keon Park  No ID
108                Darebin City          Regent West  No ID
119              Glen Eira City          Coatesville  No ID
123              Glen Eira City     Hopetoun Gardens  No ID
127              Glen Eira City            Patterson  No ID
188                 Monash City        Glen Waverely  No ID
197                 Monash City             Pinewood  No ID
198                 Monash City               Syndal  No ID
214               Moreland City               Batman  No ID
225               Moreland City           Merlynston  No ID
226               Moreland City             Moreland  No ID
251               Brimbank City      Brooklyn (part)  No ID
257               Brimbank City      Hillside (part)  No ID
261               Brimbank City   Keilor East (part)  No ID
336                  Casey City        Fountain Gate  No ID
354              Frankston City             Karingal  No ID
404                   Knox City            Studfield  No ID
458  Mornington Peninsula Shire              Kunyung  No ID
474  Mornington Peninsula Shire         Rosebud West  No ID
513             Whittlesea City         Bruces Creek  No ID
535                Wyndham City        Laverton RAAF  No ID

In [26]:
final_suburb=suburbs_df.loc[suburbs_df['ID'] != "No ID"]
#after inspection removed all rows where there was so suburb IDs

#count unique values
final_suburb.count()

Local Government Area    528
Suburb Name              528
ID                       528
Postcode                 528
dtype: int64

In [27]:
#Counting unique values 
final_suburb.nunique()

Local Government Area     31
Suburb Name              528
ID                       528
Postcode                 273
dtype: int64

In [28]:
#It was noticed that there are some duplicates in the LGA and Postocde. This is expected as multiple suburbs share the same LGA and also can shre the same postcode
#However, more worryingly there were duplicates in the suburb name and ID. This is probably because some suburbs can belong to more than one LGA

In [29]:

final_suburb=final_suburb.reset_index()
final_suburb=final_suburb.drop(['index'], axis=1)
final_suburb

    Local Government Area     Suburb Name     ID Postcode
0          Melbourne City         Carlton   8217     3053
1          Melbourne City   Carlton North   8247     3054
2          Melbourne City       Docklands  12117     3008
3          Melbourne City  East Melbourne  13127     3002
4          Melbourne City      Flemington  14617     3031
..                    ...             ...    ...      ...
523    Yarra Ranges Shire   Woori Yallock  44987     3139
524    Yarra Ranges Shire      Yarra Glen  45657     3775
525    Yarra Ranges Shire  Yarra Junction  45677     3797
526    Yarra Ranges Shire       Yellingbo  45947     3139
527    Yarra Ranges Shire          Yering  45997     3770

[528 rows x 4 columns]

In [30]:
final_suburb.nunique()
#Can now wee that all the suburb names and suburb IDs are uniqe

Local Government Area     31
Suburb Name              528
ID                       528
Postcode                 273
dtype: int64

In [31]:
#Due to the limits of API Calls (500 per day), splitting dataset into two groups and need to use separate API calls
#The first is final_suburb_1
final_suburb1=final_suburb.iloc[0:300]

In [32]:
#The second is final_suburb_2
final_suburb2=final_suburb.iloc[300:528]
final_suburb2

    Local Government Area       Suburb Name     ID Postcode
300        Frankston City   Frankston North  15007     3200
301        Frankston City   Frankston South  15027     3199
302        Frankston City        Langwarrin  23137     3910
303        Frankston City  Langwarrin South  23177     3911
304        Frankston City         Sandhurst  35597     3977
..                    ...               ...    ...      ...
523    Yarra Ranges Shire     Woori Yallock  44987     3139
524    Yarra Ranges Shire        Yarra Glen  45657     3775
525    Yarra Ranges Shire    Yarra Junction  45677     3797
526    Yarra Ranges Shire         Yellingbo  45947     3139
527    Yarra Ranges Shire            Yering  45997     3770

[228 rows x 4 columns]

In [33]:

final_suburb1['2016 Median Sold Price'] = ""
final_suburb2['2016 Median Sold Price'] = ""

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
for index, row in final_suburb1.iterrows():
    
    id=row["ID"]
    
    try:
        url = ("https://api.domain.com.au/v1/suburbPerformanceStatistics?state=VIC&suburbId={0}&propertyCategory=house&chronologicalSpan=12&tPlusFrom=5&tPlusTo=5&values=MedianSoldPrice").format(id)
        auth = {"X-Api-key":Api_key3}
        request = requests.get(url,headers=auth)
        r=request.json()
        
        #obtaining the values needed from the API - Jan 2020 Median, Apr 2020 Median, Jan 2020 Number sold and Apr 2020 number sold
        final_suburb1.loc[index, '2016 Median Sold Price'] = r['series']['seriesInfo'][0]['values']['medianSoldPrice']
    #allows the code to keep running 
    except (KeyError, NameError, IndexError, ValueError):
        final_suburb1.loc[index, '2016 Median Sold Price'] = 'none'

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [35]:
final_suburb1

,Local Government Area,Suburb Name,ID,Postcode,2016 Median Sold Price
0,Melbourne City,Carlton,8217,3053,726000
1,Melbourne City,Carlton North,8247,3054,1246000
2,Melbourne City,Docklands,12117,3008,1520000
3,Melbourne City,East Melbourne,13127,3002,1825000
4,Melbourne City,Flemington,14617,3031,815000
...,...,...,...,...,...
295,Casey City,Narre Warren South,30077,3805,505000
296,Casey City,Pearcedale,32327,3912,495000
297,Casey City,Warneet,42477,3980,None
298,Frankston City,Carrum Downs,8507,3201,392000
299,Frankston City,Frankston,14947,3199,435000

In [36]:
for index, row in final_suburb2.iterrows():
    
    id=row["ID"]
    
    try:
        url = ("https://api.domain.com.au/v1/suburbPerformanceStatistics?state=VIC&suburbId={0}&propertyCategory=house&chronologicalSpan=12&tPlusFrom=5&tPlusTo=5&values=MedianSoldPrice").format(id)
        auth = {"X-Api-key":Api_key2}
        request = requests.get(url,headers=auth)
        r=request.json()
        
        #obtaining the values needed from the API - Jan 2020 Median, Apr 2020 Median, Jan 2020 Number sold and Apr 2020 number sold
        final_suburb2.loc[index, '2016 Median Sold Price'] = r['series']['seriesInfo'][0]['values']['medianSoldPrice']
    #allows the code to keep running 
    except (KeyError, NameError, IndexError, ValueError):
        final_suburb2.loc[index, '2016 Median Sold Price'] = 'none'

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [37]:
final_suburb2

,Local Government Area,Suburb Name,ID,Postcode,2016 Median Sold Price
300,Frankston City,Frankston North,15007,3200,330000
301,Frankston City,Frankston South,15027,3199,636000
302,Frankston City,Langwarrin,23137,3910,465000
303,Frankston City,Langwarrin South,23177,3911,927000
304,Frankston City,Sandhurst,35597,3977,630000
...,...,...,...,...,...
523,Yarra Ranges Shire,Woori Yallock,44987,3139,375000
524,Yarra Ranges Shire,Yarra Glen,45657,3775,550000
525,Yarra Ranges Shire,Yarra Junction,45677,3797,422000
526,Yarra Ranges Shire,Yellingbo,45947,3139,None
527,Yarra Ranges Shire,Yering,45997,3770,None

In [38]:
#Merging the final two datasets together so all suburbs are in one
frames=[final_suburb1, final_suburb2]
final_suburbs = pd.concat(frames)

In [39]:
#Last bit of editing to remove the city from the names of the suburbs 
final_suburbs.count()
#drop if None because means no domain data- not error

Local Government Area     528
Suburb Name               528
ID                        528
Postcode                  528
2016 Median Sold Price    434
dtype: int64

In [40]:
final_suburbs=final_suburbs.dropna()

In [41]:
final_suburbs.loc[final_suburbs['2016 Median Sold Price'] == "none"]


#5 rows with no values, after some looking at the API this is because no data was available form this subrub.
#Therefore can safely remove this

,Local Government Area,Suburb Name,ID,Postcode,2016 Median Sold Price
207,Brimbank City,Calder Park,104257,3037,none
394,Mornington Peninsula Shire,HMAS Cerberus,18907,3920,none
455,Wyndham City,Cocoroc,9797,3030,none
473,Yarra Ranges Shire,Cambarville,52427,3779,none
515,Yarra Ranges Shire,Toorongo,52367,3833,none

In [42]:
#removing the none rows after inspection
final_suburbs=final_suburbs.loc[final_suburbs['2016 Median Sold Price'] != "none"]

In [43]:
final_suburbs.count()

Local Government Area     429
Suburb Name               429
ID                        429
Postcode                  429
2016 Median Sold Price    429
dtype: int64

In [44]:
final_suburbs.nunique()

Local Government Area      31
Suburb Name               429
ID                        429
Postcode                  257
2016 Median Sold Price    302
dtype: int64

In [45]:
#Re formatting the names of the Local Council Areas so it can interact with the databse prepared by Benedict 
city_of_2=final_suburbs[final_suburbs['Local Government Area'].str.contains("City")]
city_of_2['Local Government Area'] = city_of_2['Local Government Area'].str[:-5]

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
#now delete the "Shire part"
shire_of_2=final_suburbs[final_suburbs['Local Government Area'].str.contains("Shire")]
shire_of_2['Local Government Area'] = shire_of_2['Local Government Area'].str[:-6]

/Users/dhanyamaheswaran/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
shire_of_2

,Local Government Area,Suburb Name,ID,Postcode,2016 Median Sold Price
224,Cardinia,Avonsleigh,1977,3782,585000
226,Cardinia,Beaconsfield,3417,3807,585000
227,Cardinia,Beaconsfield Upper,3457,3808,740000
228,Cardinia,Bunyip,7037,3815,445000
234,Cardinia,Cockatoo,9777,3781,470000
...,...,...,...,...,...
521,Yarra Ranges,Warburton East,13167,3799,360000
522,Yarra Ranges,Wesburn,43357,3799,440000
523,Yarra Ranges,Woori Yallock,44987,3139,375000
524,Yarra Ranges,Yarra Glen,45657,3775,550000
525,Yarra Ranges,Yarra Junction,45677,3797,422000

In [48]:
#recombining the frames of the dataset
frames=[city_of_2, shire_of_2]
final_suburbs = pd.concat(frames)
final_suburbs['2016 Median Sold Price']=final_suburbs['2016 Median Sold Price'].astype(str).astype(float)
#exporting clean databse to csv to use on the SQL database
final_suburbs.to_csv("suburbs_median.csv")

In [49]:
#mapping the Median Price to a float

In [50]:
#Groupby LGA groups and aggregate the dataset
LGA_group=final_suburbs.groupby(["Local Government Area"])
LGA_group_mean=LGA_group["2016 Median Sold Price"].mean()
LGA_group_median=LGA_group["2016 Median Sold Price"].median()

In [51]:
#putting this median in the dataset
LGA_summary_df = pd.DataFrame({"Average of Median Price": LGA_group_mean,
                                    "Median of Median Price": LGA_group_median})

In [52]:
LGA_summary_df

                       Average of Median Price  Median of Median Price
Local Government Area
Banyule                           8.421905e+05                722000.0
Bayside                           1.336400e+06               1395500.0
Boroondara                        1.754917e+06               1738000.0
Brimbank                          4.934737e+05                490000.0
Cardinia                          4.925909e+05                477500.0
Casey                             5.284800e+05                457000.0
Darebin                           7.631429e+05                777000.0
Frankston                         5.294444e+05                465000.0
Glen Eira                         1.281769e+06               1300000.0
Greater Dandenong                 5.418571e+05                520000.0
Hobsons Bay                       7.020833e+05                742500.0
Hume                              4.390714e+05                405000.0
Kingston                          7.499412e+05                750000.0
Knox                              6.781667e+05                662000.0
Manningham                        1.093917e+06               1057500.0
Maribyrnong                       7.040000e+05                707500.0
Maroondah                         6.873636e+05                700000.0
Melbourne                         1.018154e+06                824000.0
Melton                            3.973571e+05                408000.0
Monash                            9.549091e+05                895000.0
Moonee Valley                     8.595000e+05                867500.0
Moreland                          6.406364e+05                600000.0
Mornington Peninsula              7.848667e+05                702500.0
Nillumbik                         7.464615e+05                703000.0
Port Phillip                      1.450000e+06               1414000.0
Stonnington                       2.161857e+06               1970000.0
Whitehorse                        1.019333e+06               1011500.0
Whittlesea                        4.744000e+05                444500.0
Wyndham                           4.752500e+05                445000.0
Yarra                             1.066818e+06               1051000.0
Yarra Ranges                      5.340833e+05                550000.0

In [53]:
LGA_summary_df.to_csv("LGA_final_summary.csv")